<section>
    <p>First band: {{bandName}}</p>
</section>
<hr>
<div [hidden]="hideAlbum">
    <h6>
        Name: {{skinnyDipping.albumName}}
    </h6>
    <h6>
        Release: {{skinnyDipping.releaseDate | date : 'short' }}
    </h6>
    <img [src]="skinnyDipping.cover" height="90px" width="90px"/>
    <p>
        {{skinnyDipping.rating}} out of 5 *'s.
    </p>
    <p>
        Label: {{skinnyDipping.recordLabel}}
    </p>
    <p>
        Is this an LP? {{skinnyDipping.LP}}
    </p>
</div>
<button (click)="toggle()">Hide Album</button>
<hr>
<h3 *ngIf="bands.tracks > 0">
    Number of Tracks: {{bands.tracks}}
</h3>

<h4 *ngIf="bands.active">
    {{bands.name}} lives!
</h4>
