<section>
    <h2>
        <p>Artist: {{bands.name}}</p>
    </h2>
    <hr>
    <div [hidden]="hideAlbum">
        <h6>
            Name: {{album.albumName}}
        </h6>
        <h6>
            Release: {{album.releaseDate | date : 'short' }}
        </h6>
        <img [src]="album.cover" height="90px" width="90px" />
        <p>
            {{album.rating}} out of 5 *'s.
        </p>
        <p>
            Label: {{album.recordLabel}}
        </p>
        <p>
            Is this an LP? {{album.LP}}
        </p>
    </div>
    <button (click)="toggle()">Hide Album</button>
    <hr>


    <h4 *ngIf="bands.active">
        {{bands.name}} live from {{bands.hometown}}!
    </h4>
</section>